@charset "UTF-8";
/*==============================================================================

 App SCSS.

==============================================================================*/
/*==============================================================================

 Variables SCSS.

==============================================================================*/
/*==============================================================================

 Mixins SCSS.

==============================================================================*/
/*==============================================================================

Reset & Default Setting SCSS.

==============================================================================*/
/*------------------------------------------------------------------------------
 Import Google Web Font.
------------------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,900);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
/*------------------------------------------------------------------------------
 Reset & Default Setting CSS.
------------------------------------------------------------------------------*/
/* Reset CSS. */
a , address , article , aside , audio , blockquote , body , canvas , caption , code , dd , div , dl , dt , footer , form , h1 , h2 , h3 , h4 , h5 , h6 , header , hgroup , html , iframe , img , input , label , li , mark , menu , nav , ol , output , p , pre , ruby , section , span , summary , table , tbody , td , textarea , th , time , tr , ul , video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  border: 0;
}

/* Default Setting */
html {
  width: 100%;
  height: 100%;
  font-size: 65%;
}

@media (min-width: 480px) {
  html {
    font-size: 85%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 100%;
  }
}

body {
  position: relative;
  overflow: hidden;
  width: 100%;
  letter-spacing: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", meiryo, sans-serif;
  line-height: 1;
  color: #555;
  background: #fff;
  -webkit-text-size-adjust: 100%;

  -webkit-overflow-scrolling: touch;
  -ms-text-size-adjust: 100%;
}

article , aside , details , figcaption , figure , footer , header , hgroup , menu , nav , section {
  display: block;
}

a {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  text-decoration: none;
  opacity: 1;
  color: inherit;
  background: transparent;
}

a:hover {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: .5;
  color: inherit;
}

a:active , a:hover , a:link , a:visited {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: middle;
}

li , ol , ul {
  list-style-type: none;
}

table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

input[type="button"] , input[type="submit"] , input[type="text"] {
  border-radius: 0;
  -webkit-appearance: none;
}

textarea {
  resize: vertical;
  border-radius: 0;
  -webkit-appearance: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -ms-box-sizing: border-box;
}

::-moz-selection {
  background: RGBa();
}

::selection {
  background: RGBa();
}

::-moz-selection {
  background: RGBa();
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari Hack */
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
  /* Chrome Hack */
}

@-moz-document url-prefix() {
  /* FireFox Hack */
}

@media all and (-ms-high-contrast: none) {
  /* IE Hack */
}

/*==============================================================================

 Variables SCSS.

==============================================================================*/
/*==============================================================================

 Mixins SCSS.

==============================================================================*/
/*==============================================================================

Heading SCSS.

==============================================================================*/
.heading01 {
  width: 356px;
  height: 53px;
  background-image: url("../images/Logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heading02 {
  text-align: center;
  letter-spacing: .2em;
  font-size: 2.5rem;
  line-height: 1.2em;
  color: #fff;
  text-shadow: 4.66px 5.43px 5px rgba(0, 0, 0, .4);
}

@media (min-width: 1170px) {
  .heading02 {
    font-size: 2.875rem;
  }
}

@media (min-width: 991px) {
  .heading02 {
    line-height: 1;
  }
}

/*==============================================================================

 Variables SCSS.

==============================================================================*/
/*==============================================================================

 Mixins SCSS.

==============================================================================*/
/*==============================================================================

 Utilities SCSS.

==============================================================================*/
.u-txt-indent {
  text-indent: -10000px;
}

.u-sp {
  display: block;
}

.u-tablet {
  display: block;
}

.u-pc {
  display: none;
}

@media (min-width: 768px) {
  .u-sp {
    display: none;
  }
  .u-tablet {
    display: block;
  }
  .u-pc {
    display: none;
  }
}

@media (min-width: 991px) {
  .u-sp {
    display: none;
  }
  .u-tablet {
    display: none;
  }
  .u-pc {
    display: block;
  }
}

/*==============================================================================

 Variables SCSS.

==============================================================================*/
/*==============================================================================

 Variables SCSS.

==============================================================================*/
/*==============================================================================

 Mixins SCSS.

==============================================================================*/
/*==============================================================================

Animations SCSS.

==============================================================================*/
@-webkit-keyframes animation-letters {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes animation-letters {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes animation-angle {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
}

@keyframes animation-angle {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
}

/*==============================================================================

Core SCSS.

==============================================================================*/
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, .25);
  -webkit-box-shadow: 0 5.64px 16px 0 rgba(0, 0, 0, .4);
  box-shadow: 0 5.64px 16px 0 rgba(0, 0, 0, .4);
}

.header-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1170px;
  height: 80px;
  margin: 0 auto;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;

  -webkit-box-pack: center;
  -webkit-box-align: center;
}

@media (min-width: 991px) {
  .header-inner {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;

    -webkit-box-pack: justify;
  }
}

.anchor-wrapper {
  display: none;
  width: 50%;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;

  -webkit-box-align: center;
}

@media (min-width: 991px) {
  .anchor-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.fv {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  background-image: url("../images/fv.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.txt-heading02 {
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  font-weight: bold;
  opacity: 0;
}

.fn-txt-heading02.is-active {
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  opacity: 1;
}

.letters-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50vh;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;

  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.letters {
  display: inline-block;
  overflow: hidden;
  padding: 10px 10px 10px 0;
}

.letters-inner {
  padding: 20px;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  -webkit-transform: translateX(-110%);
  transform: translateX(-110%);
  text-align: center;
  letter-spacing: .1em;
  font-size: 1.375rem;
  line-height: 1.666666666666667em;
  color: #fff;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, .25);
  -webkit-box-shadow: 2.66px 3.43px 5px 0 rgba(0, 0, 0, .4);
  box-shadow: 2.66px 3.43px 5px 0 rgba(0, 0, 0, .4);
  text-shadow: 3.064px 2.571px 1px rgba(0, 0, 0, .4);
}

@media (orientation: landscape) {
  .letters-inner {
    margin: 35px 0 0;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.2em;
  }
}

@media (min-width: 768px) {
  .letters-inner {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .letters-inner {
    margin: 0;
    padding: 20px;
    line-height: 1.666666666666667em;
  }
}

.fn-letters-inner.is-active {
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.txt-letters {
  display: inline-block;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.fn-txt-letters.is-active {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-animation: animation-letters .5s;
  animation: animation-letters .5s;
}

.button-floating {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  padding: 6px 0;
  cursor: pointer;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 1;
  border-radius: 100%;
  background-color: rgba(255, 64, 129, .5);
  -webkit-box-shadow: 11.491px 9.642px 16px 4px rgba(0, 0, 0, .4);
  box-shadow: 11.491px 9.642px 16px 4px rgba(0, 0, 0, .4);

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: center;
}

@media (min-width: 480px) {
  .button-floating {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 768px) {
  .button-floating {
    right: 30px;
    bottom: 30px;
    width: 75px;
    height: 75px;
  }
}

.button-floating:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: .8;
}

.button-floating.is-active {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.txt-scroll {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.icon-angle-down {
  display: inline-block;
  font-size: 2rem;
  color: #fff;
}

.icon-angle-down.is-active {
  -webkit-animation: animation-angle .75s ease-in-out infinite;
  animation: animation-angle .75s ease-in-out infinite;
}

/*# sourceMappingURL=../maps/app.css.map */