@charset "UTF-8";
/*==============================================================================

 App SCSS.

==============================================================================*/
/*==============================================================================

 Variables SCSS.

==============================================================================*/
/* ------------------------
 Break Points.
-------------------------*/
/* ------------------------
 Box Shadow.
-------------------------*/
/* ------------------------
 Border Radius.
-------------------------*/
/* ------------------------
 Label Color
-------------------------*/
/* ------------------------
 Parts Color.
-------------------------*/
/*==============================================================================

 Mixins SCSS.

==============================================================================*/
/* ------------------------
 Break Points.
-------------------------*/
/* ------------------------
 Label Parts.
-------------------------*/
/* ------------------------
 clearfix.
-------------------------*/
/*==============================================================================

Reset & Default Setting SCSS.

==============================================================================*/
/*------------------------------------------------------------------------------
 Import Google Web Font.
------------------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,900);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
/*------------------------------------------------------------------------------
 Reset & Default Setting CSS.
------------------------------------------------------------------------------*/
/* Reset CSS. */
a , address , article , aside , audio , blockquote , body , canvas , caption , code , dd , div , dl , dt , footer , form , h1 , h2 , h3 , h4 , h5 , h6 , header , hgroup , html , iframe , img , input , label , li , mark , menu , nav , ol , output , p , pre , ruby , section , span , summary , table , tbody , td , textarea , th , time , tr , ul , video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  border: 0;
}

/* Default Setting */
html {
  width: 100%;
  height: 100%;
  font-size: 85%;
}

@media (min-width: 768px) {
  html {
    font-size: 100%;
  }
}

body {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  letter-spacing: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", meiryo, sans-serif;
  line-height: 1;
  color: #555;
  background: #fff;
  -webkit-text-size-adjust: 100%;

  -webkit-overflow-scrolling: touch;
  -ms-text-size-adjust: 100%;
}

article , aside , details , figcaption , figure , footer , header , hgroup , menu , nav , section {
  display: block;
}

strong {
  font-weight: bold;
}

a {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  text-decoration: none;
  opacity: 1;
  color: inherit;
  background: transparent;
}

a:hover {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: .5;
  color: inherit;
}

a:active , a:hover , a:link , a:visited {
  text-decoration: none;
  color: inherit;
  outline: none;
}

img {
  vertical-align: middle;
}

li , ol , ul {
  list-style-type: none;
}

table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

input[type="button"] , input[type="submit"] , input[type="text"] {
  border-radius: 0;
  -webkit-appearance: none;
}

textarea {
  resize: vertical;
  border-radius: 0;
  -webkit-appearance: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -ms-box-sizing: border-box;
}

::-moz-selection {
  background: RGBa();
}

::selection {
  background: RGBa();
}

::-moz-selection {
  background: RGBa();
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari Hack */
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
  /* Chrome Hack */
}

@-moz-document url-prefix() {
  /* FireFox Hack */
}

@media all and (-ms-high-contrast: none) {
  /* IE Hack */
}

/*==============================================================================

 Variables SCSS.

==============================================================================*/
/* ------------------------
 Break Points.
-------------------------*/
/* ------------------------
 Box Shadow.
-------------------------*/
/* ------------------------
 Border Radius.
-------------------------*/
/* ------------------------
 Label Color
-------------------------*/
/* ------------------------
 Parts Color.
-------------------------*/
/*==============================================================================

 Mixins SCSS.

==============================================================================*/
/* ------------------------
 Break Points.
-------------------------*/
/* ------------------------
 Label Parts.
-------------------------*/
/* ------------------------
 clearfix.
-------------------------*/
/*==============================================================================

Typography SCSS.

==============================================================================*/
.heading01 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  max-width: 356px;
  height: auto;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../images/logo01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  -webkit-box-align: center;
}

@media (min-width: 768px) {
  .heading01 {
    width: 356px;
    height: 53px;
  }
  .heading01:after {
    content: none;
  }
}

.heading01:after {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 14.887640449438203%;
}

.heading02-1 {
  text-align: center;
  letter-spacing: .1em;
  font-size: 1.5rem;
  line-height: 1.2em;
  color: #fff;
  text-shadow: 4.66px 5.43px 2.5px rgba(0, 0, 0, .5);
}

@media (min-width: 1170px) {
  .heading02-1 {
    font-size: 2.875rem;
  }
}

@media (min-width: 991px) {
  .heading02-1 {
    line-height: 1;
  }
}

@media (min-width: 480px) {
  .heading02-1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 325px) {
  .heading02-1 {
    letter-spacing: .2em;
  }
}

.heading02-2 {
  letter-spacing: .05em;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5em;
  color: #e60012;
}

.heading02-2:before {
  display: inline-block;
  content: " ";
  width: 64.5px;
  height: 64.5px;
  margin: 0 0 10px;
  background-image: url("../images/logo02.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 991px) {
  .heading02-2:before {
    margin: 0 24px 0 0;
  }
}

.heading03 {
  text-align: center;
  letter-spacing: .1em;
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.363636363636364em;
  text-shadow: 3.064px 2.571px 3px rgba(255, 255, 255, .8);
}

@media (min-width: 991px) {
  .heading03 {
    font-size: 1.375rem;
  }
}

.heading03 span {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 991px) {
  .heading03 span {
    font-size: .75rem;
  }
}

.heading04 {
  text-align: center;
  letter-spacing: .1em;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.75em;
}

@media (min-width: 991px) {
  .heading04 {
    font-size: 1rem;
  }
}

.heading04 span {
  display: block;
  letter-spacing: .1em;
  font-size: .625rem;
  font-weight: bold;
  line-height: 1.75em;
}

.lead-letters {
  letter-spacing: .1em;
  font-size: 1rem;
  line-height: 1.2em;
  color: #fff;
  text-shadow: 3.064px 2.571px 1px rgba(0, 0, 0, .4);
}

@media (min-width: 325px) {
  .lead-letters {
    line-height: 1.666666666666667em;
  }
}

.lead01 {
  letter-spacing: .15em;
  font-size: 1.375rem;
  line-height: 1.5em;
  text-shadow: 3.06px 2.57px 1px rgba(255, 255, 255, .8);
}

@media (min-width: 991px) {
  .lead01 {
    font-size: 1rem;
    line-height: 2.25em;
  }
}

.lead02 {
  letter-spacing: .1em;
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 1.5em;
  color: rgba(85, 85, 85, .77);
}

@media (min-width: 768px) {
  .lead02 {
    line-height: 1.772727272727273em;
  }
}

.lead03 {
  letter-spacing: .05em;
  font-size: 1rem;
  line-height: 1.727272727272727em;
}

@media (min-width: 991px) {
  .lead03 {
    font-size: .6875rem;
  }
}

.title-movie02 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  font-size: 1rem;
  line-height: 1.25em;
  color: #fff;
  background-color: rgba(0, 0, 0, .35);

  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}

@media (min-width: 768px) {
  .title-movie02 {
    padding: 20px 0;
    line-height: 1.5em;
  }
}

@media (min-width: 991px) {
  .title-movie02 {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

.title-movie02 span {
  display: block;
  font-size: .875rem;
}

.link-telegram {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 0 0 4px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  letter-spacing: .04em;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: solid 2px #555;

  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
}

.link-corp {
  letter-spacing: .05em;
  font-size: 1rem;
  line-height: 1em;
}

.txt-date {
  text-align: left;
  letter-spacing: .04em;
  font-size: 1rem;
  font-style: italic;
}

.txt-news {
  text-align: center;
  text-decoration: underline;
  letter-spacing: .04em;
  font-size: 1rem;
  font-style: italic;
}

@media (min-width: 768px) {
  .txt-news {
    text-align: left;
  }
}

.txt-download {
  letter-spacing: .2em;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.txt-submit {
  letter-spacing: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.txt-scroll {
  margin: 0 0 2px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

@media (min-width: 768px) {
  .txt-scroll {
    margin: 0 0 4px;
  }
}

.txt-thanks {
  text-align: center;
  letter-spacing: .04em;
  font-size: 1rem;
  font-weight: normal;
  color: #fff;
}

/*==============================================================================

 Variables SCSS.

==============================================================================*/
/* ------------------------
 Break Points.
-------------------------*/
/* ------------------------
 Box Shadow.
-------------------------*/
/* ------------------------
 Border Radius.
-------------------------*/
/* ------------------------
 Label Color
-------------------------*/
/* ------------------------
 Parts Color.
-------------------------*/
/*==============================================================================

 Mixins SCSS.

==============================================================================*/
/* ------------------------
 Break Points.
-------------------------*/
/* ------------------------
 Label Parts.
-------------------------*/
/* ------------------------
 clearfix.
-------------------------*/
/*==============================================================================

 Utilities SCSS.

==============================================================================*/
.u-txt-indent {
  text-indent: -10000px;
}

.u-sp {
  display: block;
}

.u-tablet {
  display: block;
}

.u-pc {
  display: none;
}

@media (min-width: 768px) {
  .u-sp {
    display: none;
  }
  .u-tablet {
    display: block;
  }
  .u-pc {
    display: block;
  }
}

@media (min-width: 991px) {
  .u-sp {
    display: none;
  }
  .u-tablet {
    display: none;
  }
  .u-pc {
    display: block;
  }
}

@-webkit-keyframes modal-video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes modal-video-inner {
  from {
    -webkit-transform: translate(0, 100px);
    transform: translate(0, 100px);
  }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes modal-video-inner {
  from {
    -webkit-transform: translate(0, 100px);
    transform: translate(0, 100px);
  }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.modal-video {
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  -webkit-animation-name: modal-video;
  animation-name: modal-video;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
}

.modal-video-close {
  opacity: 0;
}

.modal-video-close .modal-video-movie-wrap {
  -webkit-transform: translate(0, 100px);
  transform: translate(0, 100px);
}

.modal-video-body {
  display: table;
  width: 100%;
  max-width: 940px;
  height: 100%;
  margin: 0 auto;
}

.modal-video-inner {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.modal-video-movie-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-animation-name: modal-video-inner;
  animation-name: modal-video-inner;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  background-color: #333;
}

.modal-video-movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-video-close-btn {
  position: absolute;
  z-index: 2;
  top: -35px;
  right: -35px;
  display: inline-block;
  overflow: hidden;
  width: 35px;
  height: 35px;
  border: none;
  background: transparent;
}

.modal-video-close-btn:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-video-close-btn:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-video-close-btn:before , .modal-video-close-btn:after {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  margin-top: -1px;
  margin-top: -6px;
  border-radius: 5px;
  background: #fff;
}

/*==============================================================================

 Variables SCSS.

==============================================================================*/
/* ------------------------
 Break Points.
-------------------------*/
/* ------------------------
 Box Shadow.
-------------------------*/
/* ------------------------
 Border Radius.
-------------------------*/
/* ------------------------
 Label Color
-------------------------*/
/* ------------------------
 Parts Color.
-------------------------*/
/*==============================================================================

 Variables SCSS.

==============================================================================*/
/* ------------------------
 Break Points.
-------------------------*/
/* ------------------------
 Box Shadow.
-------------------------*/
/* ------------------------
 Border Radius.
-------------------------*/
/* ------------------------
 Label Color
-------------------------*/
/* ------------------------
 Parts Color.
-------------------------*/
/*==============================================================================

 Mixins SCSS.

==============================================================================*/
/* ------------------------
 Break Points.
-------------------------*/
/* ------------------------
 Label Parts.
-------------------------*/
/* ------------------------
 clearfix.
-------------------------*/
/*==============================================================================

Animations SCSS.

==============================================================================*/
/*----------------------------
 Keyframes Animation.
----------------------------*/
@-webkit-keyframes animation-letters {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes animation-letters {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes animation-angle-up-down {
  0% {
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%);
  }
  50% {
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%);
  }
}

@keyframes animation-angle-up-down {
  0% {
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%);
  }
  50% {
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%);
  }
}

@-webkit-keyframes animation-angle-left {
  0% {
    -webkit-transform: translateX(5%);
    transform: translateX(5%);
  }
  50% {
    -webkit-transform: translateX(15%);
    transform: translateX(15%);
  }
  100% {
    -webkit-transform: translateX(5%);
    transform: translateX(5%);
  }
}

@keyframes animation-angle-left {
  0% {
    -webkit-transform: translateX(5%);
    transform: translateX(5%);
  }
  50% {
    -webkit-transform: translateX(15%);
    transform: translateX(15%);
  }
  100% {
    -webkit-transform: translateX(5%);
    transform: translateX(5%);
  }
}

/*----------------------------
 Scroll Animation.
----------------------------*/
.txt-copies[data-emergence=hidden] {
  -webkit-transition: all .75s linear;
  transition: all .75s linear;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  opacity: 0;
}

.txt-copies[data-emergence=visible] {
  -webkit-transition: all .75s ease-out;
  transition: all .75s ease-out;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

[class*="txt-copy0"][data-emergence=hidden] {
  -webkit-transition: all .75s linear;
  transition: all .75s linear;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  opacity: 0;
}

[class*="txt-copy0"][data-emergence=visible] {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

.txt-copy01 {
  -webkit-transition: all .75s .5s ease-out;
  transition: all .75s .5s ease-out;
}

.txt-copy02 {
  -webkit-transition: all .75s .75s ease-out;
  transition: all .75s .75s ease-out;
}

.txt-copy03 {
  -webkit-transition: all .75s 1s ease-out;
  transition: all .75s 1s ease-out;
}

.txt-copy04 {
  -webkit-transition: all .75s 1.25s ease-out;
  transition: all .75s 1.25s ease-out;
}

.txt-copy05 {
  -webkit-transition: all .75s 1.5s ease-out;
  transition: all .75s 1.5s ease-out;
}

.info-wrapper[data-emergence=hidden] , .movie01-wrapper[data-emergence=hidden] , .movie02-wrapper[data-emergence=hidden] , .news-wrapper[data-emergence=hidden] , .wp-wrapper[data-emergence=hidden] {
  -webkit-transition: all .75s linear;
  transition: all .75s linear;
  -webkit-transform: translateY(10%);
  transform: translateY(10%);
  opacity: 0;
}

.info-wrapper[data-emergence=visible] , .movie01-wrapper[data-emergence=visible] , .movie02-wrapper[data-emergence=visible] , .news-wrapper[data-emergence=visible] , .wp-wrapper[data-emergence=visible] {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

[class*="team-"][data-emergence=hidden] {
  -webkit-transition: all .75s linear;
  transition: all .75s linear;
  -webkit-transform: translateY(15%);
  transform: translateY(15%);
  opacity: 0;
}

[class*="team-"][data-emergence=visible] {
  -webkit-transition: all 1.75s ease-out;
  transition: all 1.75s ease-out;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

/*==============================================================================

Core SCSS.

==============================================================================*/
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, .25);
  -webkit-box-shadow: 0 5.64px 16px 0 rgba(0, 0, 0, .4);
  box-shadow: 0 5.64px 16px 0 rgba(0, 0, 0, .4);
}

.header-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1170px;
  height: 80px;
  margin: 0 auto;
  padding: 0;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;

  -webkit-box-align: center;
  -webkit-box-pack: center;
}

@media (min-width: 991px) {
  .header-inner {
    padding: 0 20px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;

    -webkit-box-pack: justify;
  }
}

.anchor-wrapper {
  display: none;
  width: 50%;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;

  -webkit-box-align: center;
}

@media (min-width: 991px) {
  .anchor-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.anchor-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  color: inherit;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
}

.anchor-link .icon-place {
  display: none;
  font-size: 2.5rem;
  color: rgba(85, 85, 85, .75);
}

.anchor-link.is-current {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  font-weight: bold;
  color: #000;
}

.anchor-link.is-current .icon-place {
  display: inline-block;
}

.fv {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  background-image: url("../images/fv.jpg");
  background-repeat: no-repeat;
  background-position: -145px 0;
  background-size: cover;

  -webkit-box-align: center;
  -webkit-box-pack: center;
}

@media (min-width: 991px) {
  .fv {
    background-attachment: fixed;
    background-position: center;
  }
}

@media (orientation: landscape) {
  .fv {
    background-position: center;
  }
}

.txt-heading02-1 {
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  font-weight: bold;
  opacity: 0;
}

.txt-heading02-1.is-active {
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  opacity: 1;
}

.letters-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50vh;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;

  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.letters {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  padding: 10px;
}

@media (orientation: landscape) {
  .letters {
    display: none;
  }
}

@media (min-width: 991px) {
  .letters {
    width: auto;
    padding: 10px 10px 10px 0;
  }
}

@media (min-width: 991px) and (orientation: landscape) {
  .letters {
    display: inline-block;
  }
}

.letters-inner {
  width: 100%;
  padding: 10px;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  -webkit-transform: translateX(-110%);
  transform: translateX(-110%);
  text-align: center;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, .35);
  -webkit-box-shadow: 2.66px 3.43px 5px 0 rgba(0, 0, 0, .4);
  box-shadow: 2.66px 3.43px 5px 0 rgba(0, 0, 0, .4);
}

.letters-inner.is-active {
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@media (orientation: landscape) {
  .letters-inner {
    margin: 35px 0 0;
  }
}

@media (min-width: 768px) {
  .letters-inner {
    padding: 20px;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .letters-inner {
    margin: 0;
  }
}

.txt-letters {
  display: inline-block;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.txt-letters.is-active {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-animation: animation-letters .5s;
  animation: animation-letters .5s;
}

.contents-in {
  width: 100vw;
}

.area-about , .area-member {
  width: 100%;
}

.area-copy {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (orientation: landscape) {
  .area-copy {
    height: auto;
    padding: 20px 0;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .area-copy {
    height: 100vh;
  }
}

@media (min-width: 991px) {
  .area-copy {
    padding: 0;
    background-attachment: fixed;
  }
}

.copy-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;

  -webkit-box-align: center;
  -webkit-box-pack: center;
}

@media (min-width: 991px) {
  .copy-wrapper {
    padding: 0;
  }
}

.txt-copies {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 20px;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, .4);
  -webkit-box-shadow: 2.66px 3.43px 5px 0 rgba(0, 0, 0, .4);
  box-shadow: 2.66px 3.43px 5px 0 rgba(0, 0, 0, .4);

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
}

@media (min-width: 991px) {
  .txt-copies {
    max-width: 653px;
    padding: 40px;
  }
}

.txt-copies span {
  display: inline-block;
  margin: 0 0 16px;
  text-align: center;
}

@media (min-width: 991px) {
  .txt-copies span {
    margin: 0;
  }
}

.txt-copies:before {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-width: 75px 75px 0 0;
  border-style: solid;
  border-color: rgba(85, 85, 85, .4) transparent transparent transparent;
}

@media (min-width: 991px) {
  .txt-copies:before {
    border-width: 110px 110px 0 0;
  }
}

.txt-copies:after {
  position: absolute;
  z-index: 101;
  top: 10px;
  left: 8px;
  content: "About\AMBS";
  white-space: pre;
  letter-spacing: 0;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1em;
  color: #fff;
  text-shadow: none;
}

@media (min-width: 991px) {
  .txt-copies:after {
    top: 14px;
    left: 10px;
    font-size: 1.125rem;
  }
}

.area-project {
  width: 100%;
  padding: 120px 10px;
  background-image: url("../images/bg02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 991px) {
  .area-project {
    padding: 300px 0;
    background-attachment: fixed;
  }
}

.area-news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;

  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.news-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 80px;
  padding: 60px 42.5px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  text-align: center;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, .75);
  -webkit-box-shadow: 2.66px 3.43px 5px 0 rgba(0, 0, 0, .4);
  box-shadow: 2.66px 3.43px 5px 0 rgba(0, 0, 0, .4);

  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
}

@media (min-width: 991px) {
  .news-wrapper {
    max-width: 653px;
    margin: 0 0 200px;
  }
}

.news-wrapper:before {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-width: 75px 75px 0 0;
  border-style: solid;
  border-color: rgba(251, 159, 191, .8) transparent transparent transparent;
}

@media (min-width: 991px) {
  .news-wrapper:before {
    border-width: 110px 110px 0 0;
  }
}

.news-wrapper:after {
  position: absolute;
  z-index: 101;
  top: 10px;
  left: 10px;
  content: "News";
  white-space: pre;
  letter-spacing: 0;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1em;
  color: #fff;
  text-shadow: none;
}

@media (min-width: 991px) {
  .news-wrapper:after {
    top: 18px;
    left: 16px;
    font-size: 1.25rem;
  }
}

.news-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 24px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.news-list:last-of-type {
  margin: 0;
}

@media (min-width: 768px) {
  .news-list {
    flex-direction: row;
    width: 90%;
    margin: 0 0 14px;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: start;
  }
}

.txt-date {
  width: auto;
  margin: 0 0 6px;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .txt-date {
    width: 134px;
    margin: 0 32px 0 0;
  }
}

.txt-news {
  width: 100%;
}

@media (min-width: 768px) {
  .txt-news {
    overflow: hidden;
    width: calc(100% - 134px - 32px);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.area-movie {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -webkit-box-pack: start;
}

.movie01-wrapper , .movie02-wrapper {
  position: relative;
  width: 100%;
  margin: 0 0 80px;
}

@media (min-width: 991px) {
  .movie01-wrapper , .movie02-wrapper {
    max-width: 653px;
    margin: 0 0 200px;
  }
}

.movie01-wrapper:before , .movie02-wrapper:before {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-width: 75px 75px 0 0;
  border-style: solid;
  border-color: rgba(251, 159, 191, .8) transparent transparent transparent;
}

@media (min-width: 991px) {
  .movie01-wrapper:before , .movie02-wrapper:before {
    border-width: 110px 110px 0 0;
  }
}

.movie01-wrapper:after , .movie02-wrapper:after {
  position: absolute;
  z-index: 101;
  top: 10px;
  left: 8px;
  white-space: pre;
  letter-spacing: 0;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1em;
  color: #fff;
  text-shadow: none;
}

@media (min-width: 991px) {
  .movie01-wrapper:after , .movie02-wrapper:after {
    top: 16px;
    left: 12px;
    font-size: 1.125rem;
  }
}

.movie01-wrapper:after {
  content: "Movie\A\0030\0031";
}

.movie02-wrapper:after {
  content: "Movie\A\0030\0032";
}

.movie01 , .movie02 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: none;
  transition: none;
  opacity: 1;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 2.66px 3.43px 5px 0 rgba(0, 0, 0, .4);
  box-shadow: 2.66px 3.43px 5px 0 rgba(0, 0, 0, .4);
}

.movie01:hover , .movie02:hover {
  -webkit-transition: none;
  transition: none;
  opacity: 1;
}

.movie01:after , .movie02:after {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 56.5849923430322%;
}

.movie01 {
  background-image: url("../images/movie01.png");
}

.movie02 {
  overflow: hidden;
  background-image: url("../images/movie02.jpg");
}

@media (min-width: 991px) {
  .movie02:hover .title-movie02 {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 6.5625rem;
  font-weight: bold;
  opacity: 1;
  color: rgba(255, 131, 173, .8);
}

.movie01:hover .icon-play , .movie02:hover .icon-play {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: .6;
}

.area-wp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;

  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.wp-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 80px;
  padding: 60px 42.5px 80px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  text-align: center;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, .75);
  -webkit-box-shadow: 2.66px 3.43px 5px 0 rgba(0, 0, 0, .4);
  box-shadow: 2.66px 3.43px 5px 0 rgba(0, 0, 0, .4);

  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
}

@media (min-width: 991px) {
  .wp-wrapper {
    max-width: 653px;
    margin: 0 0 200px;
    padding: 80px 42.5px;
  }
}

.wp-wrapper:before {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-width: 75px 75px 0 0;
  border-style: solid;
  border-color: rgba(251, 159, 191, .8) transparent transparent transparent;
}

@media (min-width: 991px) {
  .wp-wrapper:before {
    border-width: 110px 110px 0 0;
  }
}

.wp-wrapper:after {
  position: absolute;
  z-index: 101;
  top: 13px;
  left: 10px;
  content: "WP";
  white-space: pre;
  letter-spacing: 0;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1em;
  color: #fff;
  text-shadow: none;
}

@media (min-width: 991px) {
  .wp-wrapper:after {
    top: 23px;
    left: 20px;
    font-size: 1.5rem;
  }
}

.area-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;

  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.info-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 60px 42.5px 80px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  text-align: center;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, .75);
  -webkit-box-shadow: 2.66px 3.43px 5px 0 rgba(0, 0, 0, .4);
  box-shadow: 2.66px 3.43px 5px 0 rgba(0, 0, 0, .4);

  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
}

@media (min-width: 991px) {
  .info-wrapper {
    max-width: 653px;
    padding: 80px 42.5px;
  }
}

.info-wrapper:before {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-width: 75px 75px 0 0;
  border-style: solid;
  border-color: rgba(251, 159, 191, .8) transparent transparent transparent;
}

@media (min-width: 991px) {
  .info-wrapper:before {
    border-width: 110px 110px 0 0;
  }
}

.info-wrapper:after {
  position: absolute;
  z-index: 101;
  top: 13px;
  left: 10px;
  content: "Info";
  white-space: pre;
  letter-spacing: 0;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1em;
  color: #fff;
  text-shadow: none;
}

@media (min-width: 991px) {
  .info-wrapper:after {
    top: 20px;
    left: 16px;
    font-size: 1.375rem;
  }
}

.txt-wp {
  margin: 0 0 38.5px 0;
}

.txt-info {
  margin: 0 0 17.5px 0;
}

@media (min-width: 991px) {
  .txt-info {
    margin: 0 0 28.5px 0;
  }
}

.mail {
  width: 100%;
  margin: 0 0 60px 0;
}

.mail > form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;

  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
}

.txtfield {
  width: 100%;
  margin: 0 0 21px;
}

@media (min-width: 991px) {
  .txtfield {
    max-width: 514px;
  }
}

.txtfield > .mdl-textfield__input {
  text-align: center;
  border-bottom: 2px solid rgba(85, 85, 85, .77);
}

.txtfield > .mdl-textfield__label {
  text-align: center;
  letter-spacing: .075em;
  font-size: 1rem;
  color: rgba(85, 85, 85, .77);
}

.txtfield > .mdl-textfield__label:after {
  background-color: #ff83ad;
}

.txtfield.is-disabled02 .mdl-textfield__label:after {
  left: 0;
  visibility: visible;
  width: 100%;
}

.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label , .mdl-textfield--floating-label.is-dirty .mdl-textfield__label , .mdl-textfield--floating-label.is-disabled02 .mdl-textfield__label , .mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: rgba(255, 131, 173, .8);
}

.button-primary {
  width: 100%;
  height: 51px;
  background-color: rgba(255, 131, 173, .8) !important;
}

@media (min-width: 991px) {
  .button-primary {
    max-width: 326.5px;
  }
}

.telegram {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;

  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
}

.icon-telegram {
  margin: 0 0 20px 0;
  letter-spacing: 0;
  font-size: 5.5rem;
  font-weight: normal;
  color: rgba(0, 136, 204, .8);
}

.signs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 0 20px 0;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
}

@media (min-width: 325px) {
  .signs {
    width: 75%;
  }
}

@media (min-width: 991px) {
  .signs {
    width: 326.5px;
    margin: 0 0 28.5px 0;
  }
}

.signs [class*="icon-"] {
  color: rgba(255, 131, 173, .8);
}

.signs .icon-content {
  font-size: 5.25rem;
}

.signs .icon-download {
  font-size: 5.5rem;
}

.signs .icon-mail {
  font-size: 5.5rem;
}

.signs .icon-angle-right {
  -webkit-transform: translateX(5%);
  transform: translateX(5%);
  -webkit-animation: animation-angle-left .75s linear infinite;
  animation: animation-angle-left .75s linear infinite;
  font-size: 3.3125rem;
}

@media (min-width: 991px) {
  .signs .icon-angle-right {
    font-size: 4.3125rem;
  }
}

.signs .icon-info {
  font-size: 5.375rem;
}

.mdl-spinner {
  width: 37.5px;
  height: 37.5px;
}

@media (min-width: 768px) {
  .mdl-spinner {
    width: 45px;
    height: 45px;
  }
}

.mdl-spinner__circle {
  border-width: 6px;
}

@media (min-width: 768px) {
  .mdl-spinner__circle {
    border-width: 7px;
  }
}

.member-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 120px 10px 300px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  background-image: url("../images/bg03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
}

@media (min-width: 991px) {
  .member-wrapper {
    padding-right: 0;
    padding-bottom: 200px;
    padding-left: 0;
    background-attachment: fixed;
  }
}

.txt-heading03 {
  margin: 0 0 23px 0;
}

[class*="team-"] {
  position: relative;
  width: 100%;
  margin: 0 0 80px 0;
  padding: 40px 0;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, .5);
  -webkit-box-shadow: 2.66px 3.43px 5px 0 rgba(0, 0, 0, .4);
  box-shadow: 2.66px 3.43px 5px 0 rgba(0, 0, 0, .4);
}

@media (min-width: 991px) {
  [class*="team-"] {
    max-width: 960px;
  }
}

[class*="team-"]:before {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-width: 50px 50px 0 0;
  border-style: solid;
  border-color: rgba(251, 159, 191, .8) transparent transparent transparent;
}

[class*="team-"]:after {
  position: absolute;
  z-index: 101;
  white-space: pre;
  letter-spacing: 0;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1em;
  color: #fff;
  text-shadow: none;
}

[class*="team-"] dl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: center;

  -webkit-box-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
}

@media (min-width: 991px) {
  [class*="team-"] dl {
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: start;
  }
}

[class*="team-"] dt {
  width: 100%;
  margin: 0 0 20px;
  padding: 0 20px;
}

@media (min-width: 991px) {
  [class*="team-"] dt {
    width: 28%;
    margin: 0;
  }
}

[class*="team-"] dd {
  width: 100%;
  padding: 0 20px;
}

@media (min-width: 991px) {
  [class*="team-"] dd {
    width: 72%;
  }
}

.team-member:after {
  top: 7.5px;
  left: 6px;
  content: "TM";
}

.team-advisor:last-of-type {
  margin: 0;
}

.team-advisor:after {
  top: 7.5px;
  left: 11px;
  content: "A";
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: auto;
  padding: 20px 0;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  background-color: rgba(255, 255, 255, .25);

  -webkit-box-align: center;
  -webkit-box-pack: center;
}

@media (min-width: 991px) {
  .footer {
    height: 80px;
    padding: 0;
  }
}

.footer-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;

  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
}

@media (min-width: 991px) {
  .footer-inner {
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
  }
}

.txt-heading02-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 10px;
  padding: 0 24px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  text-align: center;

  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
}

@media (min-width: 991px) {
  .txt-heading02-2 {
    flex-direction: row;
    width: 50%;
    margin: 0;
    text-align: left;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
  }
}

.link-corp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 24px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;

  -webkit-box-align: center;
  -webkit-box-pack: center;
}

@media (min-width: 991px) {
  .link-corp {
    width: 50%;
  }
}

.link-corp .icon-link {
  margin: 0 4px 0 0;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  font-size: 2rem;
  font-weight: bold;
}

.link-corp:hover .icon-link {
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  -webkit-transform: scale(1.25) rotate(90deg);
  transform: scale(1.25) rotate(90deg);
}

.button-floating {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  padding: 6px 0;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 1;
  border-radius: 100%;
  background-color: rgba(255, 64, 129, .65);
  -webkit-box-shadow: 11.491px 9.642px 16px 4px rgba(0, 0, 0, .4);
  box-shadow: 11.491px 9.642px 16px 4px rgba(0, 0, 0, .4);

  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
}

@media (min-width: 768px) {
  .button-floating {
    right: 30px;
    bottom: 30px;
    width: 75px;
    height: 75px;
  }
}

.button-floating.is-active {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.button-floating.is-page-top {
  width: 75px;
  height: 75px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.button-floating.is-page-top:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: .8;
}

@media (min-width: 768px) {
  .button-floating.is-page-top {
    width: 90px;
    height: 90px;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
}

.icon-angle-up-down-wrapper {
  margin: 2px 0 0;
  -webkit-animation: animation-angle-up-down .75s ease-in-out infinite;
  animation: animation-angle-up-down .75s ease-in-out infinite;
}

@media (min-width: 768px) {
  .icon-angle-up-down-wrapper {
    margin: 4px 0 0;
  }
}

.icon-angle-up-down {
  display: inline-block;
  -webkit-transform: translateY(-5%);
  transform: translateY(-5%);
  font-size: 2rem;
  color: #fff;
}

.thanks-message {
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding: 20px 0;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  background-color: rgba(0, 0, 0, .65);

  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.thanks-message.is-active {
  -webkit-transition: -webkit-transform .5s 1s;
  transition: -webkit-transform .5s 1s;
  transition: transform .5s 1s;
  transition: transform .5s 1s, -webkit-transform .5s 1s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

/*# sourceMappingURL=../maps/app.css.map */