@charset "UTF-8";
@import "../variables/variables";
@import "../mixins/mixins";
/*==============================================================================

Icons SCSS.

==============================================================================*/
.icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $primaryPartscolor;
  font-size: 6.5625rem;
  font-weight: bold;
}

.icon-telegram {
  margin: 0 0 40px * 0.5 0;
  letter-spacing: 0;
  color: rgba(0,136,204,.8);
  font-size: 5.5rem;
  font-weight: normal;
}

.signs {
  [class*="icon-"] {
    color: $primaryPartscolor;
  }

  .icon-content {
    font-size: 5.25rem;
  }

  .icon-download {
    font-size: 5.5rem;
  }

  .icon-mail {
    font-size: 5.5rem;
  }

  .icon-angle-right {
    transform: translateX(5%);
    font-size: 3.3125rem;
    @include tablet {
      font-size: 4.3125rem;
    }
  }

  .icon-info {
    font-size: 5.375rem;
  }
}

.icon-link {
  margin: 0 4px 0 0;
  font-size: 2rem;
  font-weight: bold;
}

.icon-translate {
  color: #fff;
  font-size: 2.75rem;
}

.icon-angle-up-down-wrapper {
  margin: 2px 0 0;
  @include largeMobile {
    margin: 4px 0 0;
  }
}

.icon-angle-up-down {
  display: inline-block;
  transform: translateY(-5%);
  color: #fff;
  font-size: 2rem;
}