@charset "UTF-8";
@import "../mixins/mixins";
/*==============================================================================

Heading SCSS.

==============================================================================*/
.heading01 {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 356px;
  height: auto;
  background-image: url("../images/Logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &:after {
    content: " ";
    display: block;
    width: 100%;
    padding-top: 14.887640449438203%;
  }
  @include largeMobile {
    width: 356px;
    height: 53px;

    &:after {
      content: none;
    }
  }
}

.heading02 {
  font-size: 2.125rem;
  text-align: center;
  line-height: 1.2em;
  color: #fff;
  letter-spacing: 0.1em;
  text-shadow: 4.66px 5.43px 5px rgba(0,0,0,.4);
  @include desktop {
    font-size: 2.875rem;
  }
  @include tablet {
    line-height: 1;
  }
  @include mobile {
    font-size: 2.5rem;
  }
  @include smallMobile {
    letter-spacing: 0.2em;
  }
}