@charset "UTF-8";
@import "../variables/variables";
@import "../mixins/mixins";
@import "../animations/animations";
/*==============================================================================

Core SCSS.

==============================================================================*/
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 80px;
  background-color: rgba(255,255,255,.25);
  box-shadow: 0 5.64px 16px 0 rgba(0,0,0,.4);
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1170px;
  height: 80px;
  margin: 0 auto;
  padding: 0;
  @include tablet {
    justify-content: space-between;
    padding: 0 20px;
  }
}

.anchor-wrapper {
  display: none;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  @include tablet {
    display: flex;
  }
}

.anchor-link {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease-out;
  &:hover {
    cursor: pointer;
  }

  .icon-place {
    display: none;
    font-size: 2.5rem;
    color: rgba(85,85,85,.75);
  }

  &.is-current {
    color: #000;
    font-weight: bold;
    transition: all 0.5s ease-out;

    .icon-place {
      display: inline-block;
    }
  }
}

.fv {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("../images/fv.jpg");
  background-repeat: no-repeat;
  background-position: -145px 0;
  background-size: cover;
  @include tablet {
    background-attachment: fixed;
    background-position: center;
  }
  @media (orientation: landscape) {
    background-position: center;
  }
}

.txt-heading02-1 {
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  font-weight: bold;

  &.is-active {
    transition: opacity 0.2s ease;
    opacity: 1;
  }
}

.letters-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
}

.letters {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  padding: 10px;
  @media (orientation: landscape) {
    display: none;
  }
  @include tablet {
    width: auto;
    padding: 10px 10px 10px 0;
    @media (orientation: landscape) {
      display: inline-block;
    }
  }
}

.letters-inner {
  width: 100%;
  padding: 10px;
  transition: all 0.4s ease-out;
  transform: translateX(-110%);
  text-align: center;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.35);
  box-shadow: $primaryBoxShadow;

  &.is-active {
    transition: all 0.4s ease-out;
    transform: translateX(0);
  }
  @media (orientation: landscape) {
    margin: 35px 0 0;
  }
  @include largeMobile {
    padding: 20px;
    @media (orientation: landscape) {
      margin: 0;
    }
  }
}

.txt-letters {
  display: inline-block;
  transform: scale(0);

  &.is-active {
    transform: scale(1);
    animation: animation-letters 0.5s;
  }
}

.contents-in {
  width: 100vw;
}

.area-about,
.area-member {
  width: 100%;
}

.area-copy {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (orientation: landscape) {
    height: auto;
    padding: 20px 0;
  }
  @include largeMobile {
    @media (orientation: landscape) {
      height: 100vh;
    }
  }
  @include tablet {
    padding: 0;
    background-attachment: fixed;
  }
}

.copy-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  @include tablet {
    padding: 0;
  }
}

.txt-copies {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 40px 20px;
  border-radius: $primaryBorderRadius;
  background-color: rgba(255,255,255,0.4);
  box-shadow: $primaryBoxShadow;
  @include tablet {
    max-width: 653px;
    padding: 40px;
  }

  span {
    display: inline-block;
    margin: 0 0 16px;
    text-align: center;
    @include tablet {
      margin: 0;
    }
  }

  &:before {
    @include primaryLabel($secondaryLabelColor);
  }

  &:after {
    top: 10px;
    left: 8px;
    content: "About\AMBS";
    font-size: 1rem;
    @include labelFont;
    @include tablet {
      top: 14px;
      left: 10px;
      font-size: 1.125rem;
    }
  }
}

.area-project {
  width: 100%;
  background-image: url("../images/bg02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 120px 10px;
  @include tablet {
    background-attachment: fixed;
    padding: 300px 0;
  }
}

.area-news {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.news-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 0 80px;
  padding: 120px * 0.5 85px * 0.5;
  text-align: center;
  border-radius: $primaryBorderRadius;
  background-color: rgba(255,255,255,.75);
  box-shadow: $primaryBoxShadow;
  @include tablet {
    max-width: 653px;
    margin: 0 0 200px;
  }

  &:before {
    @include primaryLabel($primaryLabelColor);
  }

  &:after {
    top: 10px;
    left: 10px;
    content: "News";
    font-size: 1.125rem;
    @include labelFont;
    @include tablet {
      top: 18px;
      left: 16px;
      font-size: 1.25rem;
    }
  }
}

.news-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 0 24px;

  &:last-of-type {
    margin: 0;
  }
  @include largeMobile {
    width: 90%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 14px;
  }
}

.txt-date {
  margin: 0 0 6px;
  width: auto;
  white-space: nowrap;
  @include largeMobile {
    width: 134px;
    margin: 0 32px 0 0;
  }
}

.txt-news {
  width: 100%;
  @include largeMobile {
    width: calc(100% - 134px - 32px);
  }
}

.area-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.movie01-wrapper,
.movie02-wrapper {
  position: relative;
  width: 100%;
  margin: 0 0 80px;
  @include tablet {
    max-width: 653px;
    margin: 0 0 200px;
  }

  &:before {
    @include primaryLabel($primaryLabelColor);
  }

  &:after {
    top: 10px;
    left: 8px;
    font-size: 1rem;
    @include labelFont;
    @include tablet {
      top: 16px;
      left: 12px;
      font-size: 1.125rem;
    }
  }
}

.movie01-wrapper {
  &:after {
    content: "Movie\A\0030\0031";
  }
}

.movie02-wrapper {
  &:after {
    content: "Movie\A\0030\0032";
  }
}

.movie01,
.movie02 {
  display: block;
  width: 100%;
  height: 100%;
  transition: none;
  opacity: 1;
  border-radius: $primaryBorderRadius;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: $primaryBoxShadow;
  position: relative;

  &:hover {
    transition: none;
    opacity: 1;
  }

  &:after {
    display: block;
    width: 100%;
    padding-top: 56.5849923430322%;
    content: " ";
  }
}

.movie01 {
  background-image: url("../images/movie01.png");
}

.movie02 {
  background-image: url("../images/movie02.jpg");
  overflow: hidden;
}

.movie02 {
  &:hover {
    .title-movie02 {
      @include tablet {
        transform: translateY(0);
        transition: transform 0.5s;
      }
    }
  }
}

.icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: opacity 0.5s;
  transform: translate(-50%, -50%);
  opacity: 1;
  color: $primaryPartscolor;
  font-size: 6.5625rem;
  font-weight: bold;
}

.movie01,
.movie02 {
  &:hover {
    .icon-play {
      transition: opacity 0.5s;
      opacity: 0.6;
    }
  }
}

.area-wp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wp-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 0 80px;
  padding: 120px * 0.5 85px * 0.5 160px * 0.5;
  text-align: center;
  border-radius: $primaryBorderRadius;
  background-color: rgba(255,255,255,.75);
  box-shadow: $primaryBoxShadow;
  @include tablet {
    max-width: 653px;
    margin: 0 0 200px;
    padding: 160px * 0.5 85px * 0.5;
  }

  &:before {
    @include primaryLabel($primaryLabelColor);
  }

  &:after {
    top: 13px;
    left: 10px;
    content: "WP";
    font-size: 1.25rem;
    @include labelFont;
    @include tablet {
      top: 23px;
      left: 20px;
      font-size: 1.5rem;
    }
  }
}

.area-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.info-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 120px * 0.5 85px * 0.5 160px * 0.5;
  text-align: center;
  border-radius: $primaryBorderRadius;
  background-color: rgba(255,255,255,.75);
  box-shadow: $primaryBoxShadow;
  @include tablet {
    max-width: 653px;
    padding: 160px * 0.5 85px * 0.5;
  }

  &:before {
    @include primaryLabel($primaryLabelColor);
  }

  &:after {
    top: 13px;
    left: 10px;
    content: "Info";
    font-size: 1.25rem;
    @include labelFont;
    @include tablet {
      top: 20px;
      left: 16px;
      font-size: 1.375rem;
    }
  }
}

.txt-wp {
  margin: 0 0 77px * 0.5 0;
}

.txt-info {
  margin: 0 0 35px * 0.5 0;
  @include tablet {
    margin: 0 0 57px * 0.5 0;
  }
}

.mail {
  width: 100%;
  margin: 0 0 120px * 0.5 0;

  > form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.txtfield {
  width: 100%;
  margin: 0 0 21px;
  @include tablet {
    max-width: 514px;
  }

  > .mdl-textfield__input {
    text-align: center;
    border-bottom: 2px solid rgba(85,85,85,.77);
  }

  > .mdl-textfield__label {
    text-align: center;
    letter-spacing: 0.075em;
    color: rgba(85,85,85,.77);
    font-size: 1rem;

    &:after {
      background-color: rgba(255,131,173,1);
    }
  }

  &.is-disabled02 {
    .mdl-textfield__label {
      &:after {
        left: 0;
        visibility: visible;
        width: 100%;
      }
    }
  }
}

.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.is-disabled02 .mdl-textfield__label,
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: $primaryPartscolor;
}

.button-primary {
  width: 100%;
  height: 102px * 0.5;
  background-color: $primaryPartscolor !important;
  @include tablet {
    max-width: 653px * 0.5;
  }
}

.telegram {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.icon-telegram {
  margin: 0 0 40px * 0.5 0;
  letter-spacing: 0;
  color: rgba(0,136,204,.8);
  font-size: 5.5rem;
  font-weight: normal;
}

.signs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 40px * 0.5 0;
  @include smallMobile {
    width: 75%;
  }
  @include tablet {
    width: 653px * 0.5;
    margin: 0 0 57px * 0.5 0;
  }

  [class*="icon-"] {
    color: $primaryPartscolor;
  }

  .icon-content {
    font-size: 5.25rem;
  }

  .icon-download {
    font-size: 5.5rem;
  }

  .icon-mail {
    font-size: 5.5rem;
  }

  .icon-angle-right {
    font-size: 3.3125rem;
    transform: translateX(5%);
    animation: animation-angle-left 0.75s linear infinite;
    @include tablet {
      font-size: 4.3125rem;
    }
  }

  .icon-info {
    font-size: 5.375rem;
  }
}

.member-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 240px * 0.5 10px 600px * 0.5;
  background-image: url("../images/bg03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include tablet {
    padding-right: 0;
    padding-bottom: 400px * 0.5;
    padding-left: 0;
    background-attachment: fixed;
  }
}

.txt-heading03 {
  margin: 0 0 46px * 0.5 0;
}

[class*="team-"] {
  position: relative;
  width: 100%;
  margin: 0 0 160px * 0.5 0;
  padding: 80px * 0.5 0;
  border-radius: $primaryBorderRadius;
  background-color: rgba(255,255,255,.5);
  box-shadow: $primaryBoxShadow;
  @include tablet {
    max-width: 960px;
  }

  &:before {
    @include secondaryLabel($primaryLabelColor);
  }

  &:after {
    font-size: 1rem;
    @include labelFont;
  }

  dl {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    @include tablet {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  dt {
    width: 100%;
    margin: 0 0 20px;
    padding: 0 40px * 0.5;
    @include tablet {
      width: 28%;
      margin: 0;
    }
  }

  dd {
    width: 100%;
    padding: 0 40px * 0.5;
    @include tablet {
      width: 72%;
    }
  }
}

.team-member {
  &:after {
    top: 15px * 0.5;
    left: 12px * 0.5;
    content: "TM";
  }
}

.team-advisor {
  &:last-of-type {
    margin: 0;
  }

  &:after {
    top: 15px * 0.5;
    left: 22px * 0.5;
    content: "A";
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  padding: 20px 0;
  background-color: rgba(255,255,255,.25);
  @include tablet {
    height: 160px * 0.5;
    padding: 0;
  }
}

.footer-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  @include tablet {
    flex-direction: row;
    justify-content: space-around;
  }
}

.txt-heading02-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 0 10px;
  padding: 0 24px;
  text-align: center;
  @include tablet {
    flex-direction: row;
    width: 50%;
    margin: 0;
    text-align: left;
  }
}

.link-corp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 24px;
  @include tablet {
    width: 50%;
  }

  .icon-link {
    font-weight: bold;
    font-size: 2rem;
    margin: 0 4px 0 0;
    transform: scale(1) rotate(0deg);
    transition: transform 0.25s;
  }

  &:hover {
    .icon-link {
      transform: scale(1.25) rotate(90deg);
      transition: transform 0.25s;
    }
  }
}

.button-floating {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 6px 0;
  transition: all 0.5s;
  transform: scale(0);
  opacity: 1;
  border-radius: 100%;
  background-color: rgba(255,64,129,.65);
  box-shadow: 11.491px 9.642px 16px 4px rgba(0, 0, 0, .4);
  @include largeMobile {
    right: 30px;
    bottom: 30px;
    width: 75px;
    height: 75px;
  }

  &.is-active {
    transition: all 0.5s;
    transform: scale(1);
  }

  &.is-page-top {
    width: 75px;
    height: 75px;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      transition: all 0.5s;
      opacity: 0.8;
    }
  }
  @include largeMobile {
    &.is-page-top {
      width: 90px;
      height: 90px;
      transition: all 0.5s;
    }
  }
}

.icon-angle-up-down-wrapper {
  margin: 2px 0 0;
  animation: animation-angle-up-down 0.75s ease-in-out infinite;
  @include largeMobile {
    margin: 4px 0 0;
  }
}

.icon-angle-up-down {
  display: inline-block;
  color: #fff;
  font-size: 2rem;
  transform: translateY(-5%);
}

.thanks-message {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.65);
  padding: 20px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.5s;

  &.is-active {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.5s 1s;
  }
}
