@charset "UTF-8";
@import "../variables/variables";
/*==============================================================================

 Mixins SCSS.

==============================================================================*/
/* ------------------------
 Break Points.
-------------------------*/
@mixin smallMobile {
  @media (min-width: #{$smallMobileWidth}) {
    @content;
  }
}
@mixin mobile {
  @media (min-width: #{$mobileWidth}) {
    @content;
  }
}
@mixin largeMobile {
  @media (min-width: #{$largeMobileWidth}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tabletWidth}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktopWidth}) {
    @content;
  }
}
@mixin largeDesktop {
  @media (min-width: #{$largeDesktopWidth}) {
    @content;
  }
}
@mixin customOrderMin($orderW) {
  @media screen and (min-width: $orderW) {
    @content;
  }
}
/* ------------------------
 Label Parts.
-------------------------*/
@mixin primaryLabel($labelColor) {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  content: " ";
  border-width: 75px 75px 0 0;
  border-style: solid;
  border-color: $labelColor;
  @include tablet {
    border-width: 110px 110px 0 0;
  }
}
@mixin secondaryLabel($labelColor) {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  content: " ";
  border-width: 50px 50px 0 0;
  border-style: solid;
  border-color: $labelColor;
}
@mixin labelFont {
  position: absolute;
  z-index: 101;
  white-space: pre;
  letter-spacing: 0;
  color: #fff;
  text-shadow: none;
  font-family: "Source Sans Pro",sans-serif;
  font-weight: bold;
  line-height: 1em;
}
/* ------------------------
 Floating Buttom.
-------------------------*/
@mixin floatingButton($addButtomSP,$addBackgroungColor,$addButtomPC) {
  position: fixed;
  right: 15px;
  bottom: $addButtomSP;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 6px 0;
  transition: all 0.5s;
  transform: scale(0);
  opacity: 1;
  border-radius: 100%;
  background-color: $addBackgroungColor;
  box-shadow: 11.491px 9.642px 16px 4px rgba(0, 0, 0, .4);
  @include largeMobile {
    right: 30px;
    bottom: $addButtomPC;
    width: 75px;
    height: 75px;
  }

  &.is-active {
    transition: all 0.5s;
    transform: scale(1);
  }

  &.is-page-top {
    transition: all 0.5s;
  }
}
/* ------------------------
 clearfix.
-------------------------*/
@mixin clearfix {
  clear: both;

  &:after,
  &:before {
    display: block;
    clear: both;
    content: " ";
  }
}