@charset "UTF-8";
/*==============================================================================

Animations SCSS.

==============================================================================*/
/*----------------------------
 Keyframes Animation.
----------------------------*/
@keyframes animation-letters {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes animation-angle-up-down {
  0% {
    transform: translateY(-5%);
  }

  50% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(-5%);
  }
}
@keyframes animation-angle-left {
  0% {
    transform: translateX(5%);
  }

  50% {
    transform: translateX(15%);
  }

  100% {
    transform: translateX(5%);
  }
}
/*----------------------------
 Intro Animation.
----------------------------*/
.txt-heading02-1 {
  transition: opacity 0.2s ease-in-out;
  opacity: 0;

  &.is-active {
    transition: opacity 0.2s ease;
    opacity: 1;
  }
}

.letters-inner {
  transition: all 0.4s ease-out;
  transform: translateX(-110%);

  &.is-active {
    transition: all 0.4s ease-out;
    transform: translateX(0);
  }
}

.txt-letters {
  transform: scale(0);

  &.is-active {
    transform: scale(1);
    animation: animation-letters 0.5s;
  }
}
/*----------------------------
 Scroll Animation.
----------------------------*/
.txt-copies {
  &[data-emergence=hidden] {
    transition: all 0.75s linear;
    transform: translateY(50%);
    opacity: 0;
  }

  &[data-emergence=visible] {
    transition: all 0.75s ease-out;
    transform: translateY(0%);
    opacity: 1;
  }
}

[class*="txt-copy0"] {
  &[data-emergence=hidden] {
    transition: all 0.75s linear;
    transform: translateY(50%);
    opacity: 0;
  }

  &[data-emergence=visible] {
    transform: translateY(0%);
    opacity: 1;
  }
}

.txt-copy01 {
  transition: all 0.75s 0.5s ease-out;
}

.txt-copy02 {
  transition: all 0.75s 0.75s ease-out;
}

.txt-copy03 {
  transition: all 0.75s 1s ease-out;
}

.txt-copy04 {
  transition: all 0.75s 1.25s ease-out;
}

.txt-copy05 {
  transition: all 0.75s 1.5s ease-out;
}

.info-wrapper,
.movie01-wrapper,
.movie02-wrapper,
.news-wrapper,
.wp-wrapper {
  &[data-emergence=hidden] {
    transition: all 0.75s linear;
    transform: translateY(10%);
    opacity: 0;
  }

  &[data-emergence=visible] {
    transition: all 1s ease-out;
    transform: translateY(0%);
    opacity: 1;
  }
}

[class*="team-"] {
  &[data-emergence=hidden] {
    transition: all 0.75s linear;
    transform: translateY(15%);
    opacity: 0;
  }

  &[data-emergence=visible] {
    transition: all 1.75s ease-out;
    transform: translateY(0%);
    opacity: 1;
  }
}
/*----------------------------
 Contents Animation.
----------------------------*/
.anchor-link {
  transition: all 0.5s ease-out;
  color: inherit;
  font-weight: normal;

  .icon-place {
    display: none;
  }

  &.is-current {
    transition: all 0.5s ease-out;
    color: #000;
    font-weight: bold;

    .icon-place {
      display: inline-block;
    }
  }
}

.movie02 {
  .title-movie02 {
    @include tablet {
      transition: transform 0.5s;
      transform: translateY(100%);
    }
  }

  &:hover {
    .title-movie02 {
      @include tablet {
        transition: transform 0.5s;
        transform: translateY(0);
      }
    }
  }
}

.movie01,
.movie02 {
  .icon-play {
    transition: opacity 0.5s;
    opacity: 1;
  }

  &:hover {
    .icon-play {
      transition: opacity 0.5s;
      opacity: 0.6;
    }
  }
}

.icon-angle-right {
  animation: animation-angle-left 0.75s linear infinite;
}

.link-translate-wrapper {
  visibility: hidden;
  transition: all 0.25s linear;
  transform: translate(-50%,-50%) scale(0);
  opacity: 0;

  &.is-active {
    visibility: visible;
    transition: all 0.35s ease-out;
    transform: translate(-50%,-135%) scale(1);
    opacity: 1;
  }
}

.link-translate {
  transition: transform 0.25s;
  transform: scale(1);
  opacity: 1;

  &:hover {
    transition: transform 0.25s;
    transform: scale(1.2);
    opacity: 1;
  }
}

.icon-angle-up-down-wrapper {
  animation: animation-angle-up-down 0.75s ease-in-out infinite;
}

.link-corp {
  .icon-link {
    transition: transform 0.25s;
    transform: scale(1) rotate(0deg);
  }

  &:hover {
    .icon-link {
      transition: transform 0.25s;
      transform: scale(1.25) rotate(90deg);
    }
  }
}

.thanks-message {
  transition: all 0.5s;
  transform: translateY(100%);
  opacity: 0;

  &.is-active {
    transition: transform 0.5s 1s;
    transform: translateY(0);
    opacity: 1;
  }
}